<h1>New Post</h1>

<%= simple_form_for @post do |f| %>
  <%= f.input :photo %>
  <%= f.input :description %>
  <%= f.submit 'Post' %>
<% end %>

<% if current_user.present? %>
<%= link_to 'Logout', logout_path, method: :delete, data: {turbo_confirm: "Are you sure?","turbo-method": :delete} %>
<% end %>
