<!DOCTYPE html>
<html>
  <head>
    <title>Instapost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <nav>
    <%# = link_to 'New Post', new_post_path %>
    <%= render 'shared/navbar' %>
    </nav>
    <%= yield %>
  </body>
</html>
